<a href="https://colab.research.google.com/github/mohan522/IPL/blob/IPL/IPL_working2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import files
uploaded = files.upload()

Saving Player_match.csv to Player_match.csv

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [7]:
ball = pd.read_csv("Ball_By_Ball.csv")
ball.head()

   MatcH_id  Over_id  Ball_id  ...  Keeper_Catch Player_out_sk MatchDateSK
0    598028       15        6  ...             0             0    20130420
1    598028       14        1  ...             0             0    20130420
2    598028       14        2  ...             0             0    20130420
3    598028       14        3  ...             0             0    20130420
4    598028       14        4  ...             0             0    20130420

[5 rows x 48 columns]

In [8]:
match = pd.read_csv("Match.csv")
match.head()

   Match_SK  match_id  ... Win_Margin Country_id
0         0    335987  ...      140.0          1
1         1    335988  ...       33.0          1
2         2    335989  ...        9.0          1
3         3    335990  ...        5.0          1
4         4    335991  ...        5.0          1

[5 rows x 17 columns]

In [9]:
merge = pd.merge(left=ball, right=match, left_on='MatcH_id', right_on='match_id')
merge.head()

   MatcH_id  Over_id  Ball_id  ...      ManOfMach Win_Margin Country_id
0    598028       15        6  ...  R Vinay Kumar        7.0          1
1    598028       14        1  ...  R Vinay Kumar        7.0          1
2    598028       14        2  ...  R Vinay Kumar        7.0          1
3    598028       14        3  ...  R Vinay Kumar        7.0          1
4    598028       14        4  ...  R Vinay Kumar        7.0          1

[5 rows x 65 columns]

In [10]:
merge.count()

MatcH_id        150451
Over_id         150451
Ball_id         150451
Innings_No      150451
Team_Batting    150451
                 ...
Win_Type        150188
Outcome_Type    150451
ManOfMach       150130
Win_Margin      148565
Country_id      150451
Length: 65, dtype: int64

In [13]:
merge.isna().any()

MatcH_id        False
Over_id         False
Ball_id         False
Innings_No      False
Team_Batting    False
                ...
Win_Type         True
Outcome_Type    False
ManOfMach        True
Win_Margin       True
Country_id      False
Length: 65, dtype: bool

In [14]:
merge.isnull().sum()

MatcH_id           0
Over_id            0
Ball_id            0
Innings_No         0
Team_Batting       0
                ...
Win_Type         263
Outcome_Type       0
ManOfMach        321
Win_Margin      1886
Country_id         0
Length: 65, dtype: int64

In [16]:
merge.columns

Index(['MatcH_id', 'Over_id', 'Ball_id', 'Innings_No', 'Team_Batting',
       'Team_Bowling', 'Striker_Batting_Position', 'Extra_Type', 'Runs_Scored',
       'Extra_runs', 'Wides', 'Legbyes', 'Byes', 'Noballs', 'Penalty',
       'Bowler_Extras', 'Out_type', 'Caught', 'Bowled', 'Run_out', 'LBW',
       'Retired_hurt', 'Stumped', 'caught_and_bowled', 'hit_wicket',
       'ObstructingFeild', 'Bowler_Wicket', 'Match_Date', 'Season', 'Striker',
       'Non_Striker', 'Bowler', 'Player_Out', 'Fielders', 'Striker_match_SK',
       'StrikerSK', 'NonStriker_match_SK', 'NONStriker_SK', 'Fielder_match_SK',
       'Fielder_SK', 'Bowler_match_SK', 'BOWLER_SK', 'PlayerOut_match_SK',
       'BattingTeam_SK', 'BowlingTeam_SK', 'Keeper_Catch', 'Player_out_sk',
       'MatchDateSK', 'Match_SK', 'match_id', 'Team1', 'Team2', 'match_date',
       'Season_Year', 'Venue_Name', 'City_Name', 'Country_Name', 'Toss_Winner',
       'match_winner', 'Toss_Name', 'Win_Type', 'Outcome_Type', 'ManOfMach',
       'Win_Margin', 'Country_id'],
      dtype='object')

In [18]:
merge[["MatcH_id",]]

        MatcH_id
0         598028
1         598028
2         598028
3         598028
4         598028
...          ...
150446    734014
150447    734014
150448    734014
150449    734014
150450    734014

[150451 rows x 1 columns]